
#popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 121, 62);
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border: 3px solid #FFFFFF;
    display: none;
    border-radius: 5px;
}

#new-card-save, #new-card-cancel {
    cursor: pointer;
    background-color: rgb(39, 105, 37);
}

#delete-card {
    cursor: pointer;
    background-color: rgb(141, 0, 0);
}

#popup-close {
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    width: 40px;
}

#popup-box-content {
    text-align: center;
}

#popup-box h2 {
    margin: 0;
    font-size: 2em;
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box input {
    padding: 8px;
    border: 1px solid #333;
    width: 40%;
    margin: 5px;
}

#popup-box button {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 5px;
    color: black;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 8px;

    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    transition: 0.3s;
  }
  
  #popup-box button:hover {
    opacity: 1;  
  }

input {
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    /* border: 2px solid black; */
}

input#new-card-name {
    margin-left: 14px;
    margin-top: 15px;
}

input#new-card-apr {
    margin-left: 3px;
}

#longevity {
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    input {
        text-align: left;
    }
}