* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 97%;
}

h1 {
  font-size: 1.8em;
}

header, #results, .boxes {
    text-align: center;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 20px;
}

#results {
  position: fixed;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 210px;
}

.bottom-line {
  font-size: 1.5em
}


#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 104px);
}

#grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 104px);
}
  
.boxes:hover {
  border: solid 2px black;
  padding: 9px;
}

.boxes {
  padding: 11px;
  margin: 11px;
  height: 82px;
  cursor: pointer;
}

  #area1 {
    background-color: lime;
  }
  
  #area2 {
    background-color: rgb(255, 255, 115);
  }

  #area3 {
    background-color: darkcyan;
  }

  #area4 {
    background-color: lightcoral;
  }

  #area5 {
    background-color: lightgray;
  }

  #area6 {
    background-color: rgb(255, 255, 170);
  }

  #area7 {
    background-color: rgb(255, 164, 45);
  }

  #area8 {
    background-color: lightskyblue;
  }

  #area9 {
    background-color: rgb(63, 175, 63);
  }

  #area10 {
    background-color: rgb(250, 135, 189);
  }

  #defaultBox {
    background-color: rgb(153, 126, 161);
  }

  #list-builder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    filter: alpha(opacity=80);
	  opacity: 0.8;
    display: none;
}

input {
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Roboto Slab', serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* mobile */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.45em;
  }

#resultingNumber {
  font-size: 1.75em;
}

  header, .boxes {
    text-align: left;
    margin-left: 11px;
  }

  #grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 104px);
  }
}