* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 97%;
}

html {
  max-height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: darkslategray; */
}

.hidden {
  display: none;
}

h1 {
  font-size: 1.8em;
}

header {
  margin-bottom: 12px;
}

#left-header {
  font-family: 'Roboto Slab', serif;
}

button {
  cursor: pointer;
}

header h3 {
  margin-bottom: 12px;
}

nav {
  margin-bottom: 8px;
  font-size: 0.78em;
  text-align: center;
  background-color: rgb(115, 192, 128);
  color: white;
  border-radius: 2px;
  padding-top: 2px;
  height: 18px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

header, #results, .boxes {
    text-align: center;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 20px;
}

#results {
  padding-top: 10px;
  position: fixed;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom: 33px;
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 55px);
  border-right: solid 2px gray;
  border-left: solid 2px gray;
  background-color: white;
}

.bottom-line {
  font-size: 1.5em
}


#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 104px);
    margin-bottom: 20px;
    padding-bottom: 100px;
}
  
.boxes:hover {
  border: solid 3px white;
  padding: 8px;
}

.boxes {
  padding: 11px;
  margin: 11px;
  height: 82px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2em;
  color:white;
}

.boxes h3 {
  font-size: 1.4em;
}

  #area1 {
    background-color: rgb(59, 116, 62);
  }
  
  #area2 {
    background-color: rgba(59, 116, 62, 0.95);
  }

  #area3 {
    background-color: rgba(59, 116, 62, 0.90);
  }

  #area4 {
    background-color: rgba(59, 116, 62, 0.85);
  }

  #area5 {
    background-color: rgba(59, 116, 62, 0.80);
  }

  #area6 {
    background-color: rgba(59, 116, 62, 0.75);
  }

  #area7 {
    background-color: rgba(59, 116, 62, 0.70);
  }

  #area8 {
    background-color: rgba(59, 116, 62, 0.65);
  }

  #area9 {
    background-color: rgb(63, 175, 63);
  }

  #area10 {
    background-color: rgb(250, 135, 189);
  }

  #defaultBox {
    color: rgb(146, 146, 146);
    background-color: white;
    border: solid 1px rgb(170, 170, 170);
  }

  #defaultBox:hover {
    color: rgb(95, 95, 95);
    border: solid 2px rgba(59, 116, 62, 0.9);
    padding: 10px;
  }

  #list-builder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    filter: alpha(opacity=80);
	  opacity: 0.8;
    display: none;
}

#save-profile {
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  transition: 0.3s;
  width: 100px;
  margin-left: auto; 
  margin-right: auto; 
  padding: 8px;
  line-height: 44px;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

#save-profile:hover {
  opacity: 1;  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.45em;
  }

  header h3, header h1{
    width: 450px;
  }

#resultingNumber {
  font-size: 1.75em;
}

  header, .boxes {
    text-align: left;
    margin-left: 11px;
  }

  #header-grid {
    /* width: 300px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 100px);
    
  }
  
  nav {
    display: table-cell;
    font-size: 1.05em;
    margin-right: 14px;
    margin-top: 25px;
    width: 280px;
    height: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(115, 192, 128);
    color: white;
    border-radius: 2px;
  }

  #grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 104px);
  }
  
  #results {
    width: 420px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 90px);
    bottom: 130px;
  }

  #left-header {
    border-bottom: solid 2px gray;
  }

  #save-profile {
    width: 150px;
    line-height: 68px;
  }
}